.evento {
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
    width: 40%;
    height: 250px;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.eventImage {
    height: 60%;
    width: 100%;
    text-align: center;
}

.eventImage img {
    height: 100%;
    width: auto;
}